<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form #searchForm class="ng-form">
            <div class="form-group" > 
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
                </div>
                <div class="form-group" > 
                    Item Name: <input class="form-control" type="text" name="Item" value="Enter the food Item" padding-right="5%" required>
                </div>
                <div class="form-group" >   
                <button class="btn btn-success">ADD</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
